:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: #7D889E;
    --color-dark-blue: #1F314F;
    --font-outfit: "Outfit", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #D5E1EF;
    font-family: var(--font-outfit);
    font-size: 1.5rem;
    font-weight: 400;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 497px;
    padding: 12px;
    border-radius: 15px;
    background: var(--color-white);
    text-align: center;


}

.img__container {
    width: 288px;
    border-radius: 15px;
    height: 288px;
    overflow: hidden;
    margin-bottom: 24px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.text__container {
    display: flex;
    flex-direction: column;
    min-height: 129px;
    gap: 16px;
    padding: 0 12px;

    h1 {
        font-weight: 700;
        font-size: 2.2rem;
        color: var(--color-dark-blue);
    }

    p {
        width: 256px;
        font-weight: 500;
        color: var(--color-grayish-blue);
        letter-spacing: 0.19px;
        font-size: 1.5rem;
    }
}